/*Project by Ana Mayer for Access Code*/
/*Name with round background*/
#name {
    top:20%;
    left:10%;
    width:500px;
    height:500px;
    color:white;
    position:absolute;
    border-radius: 50%;
    text-align:center;
    background-color:#FF8585;
    margin: -25px 0 0 -31px;
}
/*Heading name properties*/
h1{
    color:white;
    margin-top: 40%;
    font-family:sans-serif;
    font-size:70px;
    text-align:center;
}
html {
    border: 10px #4d4d4d;
}
/*This contains all my info and pictures on the right*/
#container {
    width:auto;
    height:auto;
    float:right;
    margin-left:50%;
}

body {
    background: #AAAAB5;
    margin: 40px;
    text-align:right;
    margin-bottom: 100px;
    color:grey;
}
h1 {
    font-family:Lato, san-serif;
    list-style-type:none;
}
h3 {
    font-family:Lato, san-serif;
}
p {
    font-family:Lato, san-serif;
}
img {
    width: 200px;
    border: 8px solid #FF8585;
    border-radius:20%;
}

body{
  background-color:white
}
